{% extends 'base.html' %}
{% load static %}




{% block title %}Article{% endblock title %}

{% block content %}
    <h1>{{ section }}</h1>
    
    <div class="card">
            
            {% for article in post_list %}
            <a href="{% url 'detail' article.id %}">{{ article.title }}</a>
            <strong> By {{ article.author }} | On {{ article.created_on }}</strong>
            <p>{{ article.body }}</p>
            {% endfor %}
            
            
    </div>
        <br />
    
    
    </ul>  
{% endblock content %}